@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: 'VT323';
}

body {
    color: white;
    background: radial-gradient(black,rgb(32, 31, 31));
}


.homeBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.homeBtn:hover {
    cursor: pointer;
    border: 1.5px solid white;
}

.homeBtnSvg {
    height: 25px;
    width: 25px;
}

header{
    height: 20vh;
    width: 98vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 30px;
    font-size: 50px;
}


main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle {
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle:hover {
    border: 1px solid white;
    cursor: pointer;
    background: radial-gradient(black,#410B13);
}
.lock {
    width: 80px;
    height: 80px;
}

.lock:hover {
    stroke-width:0.5px
}



.t1,.t2,.t3,.t4 {
    margin-top: 30px;
    text-align: center;

}

.hiddenDiv {

    position: fixed;
    height: 50vh;
    width: 60vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(29, 23, 23);
    border: 1px solid white;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cancel {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color:white;
    border-radius: 5px;
}

.cancel:hover {
    cursor:pointer;
    border: 1.5px solid white
}

.disclaimer {
    text-align: center;
    padding: 20px;
}

.agree {
    background-color: lime;
    border:1px solid rgb(0, 0, 0);
    padding: 2px;
    border-radius: 5px;
}

.agree:hover {
    cursor: pointer;
    background-color: black;
    color: white;}